.App {
  background-color: #f0f2f5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #001529;
  height: 64px;
  padding: 0 50px;
}

.App-header h1 {
  color: white;
  margin: 0px;
  line-height: 64px;
}

.App-header h1 sup {
  font-size: 0.55em;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  padding: 0px 50px;
}

.App-breadcrumb {
  margin: 16px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.App-article {
  font-size: 14px;
  padding: 24px;
  background-color: #fff;
  outline: 0;
}

.inline-answer {
  color: rgba(0, 0, 0, 0.75);
  margin-left: 2em;
  font-style: italic;
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  padding-left: 0.5em;
}

.pt-popover-content {
  padding: 10px 20px;
}

.cursor {
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  animation: 1.1s blink step-end infinite;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

@keyframes blink {
  from, to {
    border-left-color: transparent;
  }
  50% {
    border-left-color: black;
  }
}
