
.hz-line {
  margin: 0.5em 0 0;
}

.hz-focused {
  /* padding: 3px 0; */
  background-color: #e0ecff;
  transition: background-color 0.175s;
}

.hz-unfocused {
  background-color: transparent;
  transition: background-color 0.175s;
}

/** debug: show light border around leave nodes **/
/*
span[data-key] {
  border-color: rgba(0,0,0,0.25);
  border-width: 1px;
  border-style: solid;
}
*/

.hz-debug-panel {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.hz-debug-panel div {
  flex-grow: 1;
  flex-basis: 0;
}

.hz-debug-panel div pre {
  margin-top: 0.25em;
  margin-left: -1px;
  border-radius: 0px;
}

/* Suggestion Portal */

.suggestion-portal {
  display: none;
  position: absolute;
  z-index: 10000;
  margin-top: 30px;
  width: 200px;
}

.suggestion-portal ul {
  list-style-type: none;
  margin-top: 0;
  position: relative;
  padding-left: 0;
  margin-left: -8px;
  background-color: #fff;
}

.suggestion-portal li {
  padding: 5px 10px;
}

.suggestion-portal li.selected {
  background-color: #eee;
}
